<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiendaDeDisfraces</title>

    <link rel="stylesheet" href="~/css/css.css" asp-append-version="true" />
</head>
<body>
    <div id="container">

        <div id="header">
            <div class="headtitle">Tienda de Disfraces</div>
        </div>

        <div id="menu">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li>
                    <a asp-controller="Producto" asp-action="Index">Productos</a>
                </li>
                <li>
                    <a asp-controller="Usuario" asp-action="Index">Usuarios</a>
                </li>
            </ul>
        </div>

        <div id="content">
            <div id="insidecontent">
                @RenderBody()
            </div>
            <div style="clear: both;"></div>
        </div>

        <div id="footer">
            <span>Copyright © 2026 | Todos los derechos reservados</span>
        </div>

    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>