@using Microsoft.AspNetCore.Http

@{
    var usuario = Context.Session.GetString("Usuario");
    var rol = Context.Session.GetString("Rol");
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - TiendaDeDisfraces</title>
    <link rel="stylesheet" href="~/css/css.css" />
</head>

<body>
    <div id="container">

        <div id="header">
            <div class="headtitle">Tienda de Disfraces</div>
        </div>

        <div id="menu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>

                @if (rol == "Cajero" || rol == "ITAdmin" || rol == "Supervisor")
                {
                    <li><a asp-controller="Carrito" asp-action="Index">Carrito</a></li>
                }

                @if (rol == "ITAdmin" || rol == "Supervisor")
                {
                    <li><a asp-controller="Producto" asp-action="Index">Productos</a></li>
                    <li><a asp-controller="Usuario" asp-action="Index">Usuarios</a></li>
                }
            </ul>

            <div style="float:right;">
                @if (string.IsNullOrEmpty(usuario))
                {
                    <a asp-controller="Usuario" asp-action="Login">Login</a>
                }
                else
                {
                    <span>@usuario</span>
                    <a asp-controller="Usuario" asp-action="Logout">Logout</a>
                }
            </div>
        </div>

        <div id="content">
            @RenderBody()
        </div>

    </div>
</body>
</html>