@{
    ViewData["Title"] = "Home";
}

<div id="insidecontent">
    <button type="button" onclick="addToCart()">Agregar</button>
</div>

@section Scripts {
    <script src="/js/home.js"></script>
}

